@import "../../app.scss";


.navbar {
    height: 100px;
    background-color: rgb(104, 112, 184) ;

    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       
    
        padding-left: 200px; // Adjust this value according to your sidebar width
        position: relative;
        @include mobile {
            justify-content: flex-end;
            padding: 20px;
          }
    }

    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px; // Adjust this value according to your sidebar width
        height: 100%; // Fill the entire height of the navbar
    }

    span {
        font-weight: bold;
        font-size: 2em;
       max-font-size: 30px;
       @include mobile {
        display: none;
      }
        
    }

    .social {
        display: flex;
        gap: 20px;
    }
}




